.block{
    width: 600px;
    outline: 1px solid violet;
}

.list{
    padding: 0;
    padding-left: 16px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
    list-style: none;
    box-sizing: border-box;
}